*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SEZIONE HEADER */

/* sezione menu */
.nav{    
    width: 80%;
    height: 100px;
    text-align: center;
    line-height: 100px; 
    position: absolute;   
    top: 10px;
    z-index: 2;
    left: 10%;
    
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.logo{
    float: left;
    vertical-align: middle;
}

.logo img{    
    vertical-align: middle;
}

/* sezione menu */
.nav ul{
    display: inline-block;
}

#main-header nav li{
    display: inline-block;    
}

#main-header nav li a{
    text-decoration: none;
    display: inline-block;  
    box-sizing: border-box;
}

.menu-centrale{
    padding-left: 20px ;
    padding-right: 20px;
    display: inline-block;    
}

.nav a{
    color: white;    
    font-size: 18px;  
    font-weight: bolder;
    text-decoration: none;
}

.nav a:hover { 
    text-decoration: underline; 
    color: #fdfdfd;
} 

/* bottone accedi */
.butn-accedi{    
    float: right;    
    margin-top: 30px;
    color: black;
    background-color: white;    
    width: 70px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    line-height: 40px;     
}



/* SEZIONE JUMBOTRON E CONTENUTO */
.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    width: 100%;
    height: 600px;
    position: relative;
    
}

.jumbotron > .jumbotron-content{
    position: absolute;  
    text-align: center;          
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.testo-jumbotron h1{
    font-size: 56px;
    color: white;
}

.testo-jumbotron p{
    font-size: 19px;
    line-height: 30px;
    color: white;
    padding-top: 20px;   
}

/* proprietà bottoni */
.download-open{
    padding-top: 20px;
}

.butn-mac{
    color: black;
    background-color: white;    
    width: 210px;
    height: 60px;
    font-size: 20px;
    text-align: center;
    border-radius: 50px;
    line-height: 60px;
    float: left;
    margin-left: 10%;    
}

.butn-open{    
    color: white;
    background-color: #23272a;
    width: 300px;
    height: 60px;
    font-size: 20px;
    text-align: center;
    border-radius: 50px;
    line-height: 60px;
    float: right;
    margin-right: 10%;    
}


/* INIZIO SEZIONE MAIN/BLOCCHI */
.sezione{
    padding-top: 60px;       
    margin: auto;
}

.contenuto-sezione{
    width: 60%;
    margin: auto;
    
}

.contenuto-sezione h3{
    font-size: 35px;    
    font-weight: bolder;
}

.contenuto-sezione p{
    font-size: 18px;
    line-height: 32px;
    margin-top: 20px;
}

.item{
    float: left;
}

.testo-sezione{
    float: right;
    margin-top: 35px;
    word-wrap: break-word;
}




/* seconda sezione */
.sfondo-grigio{
    background-color: #f6f6f6;   
    margin: auto;
}







/* INIZIO FOOTER*/
footer{
    background-color: #23272a;
    height: 700px;
    width: 100%;
    position: relative;
}

.footer-content{      
    background-color: darkgreen;
    width: 80%;
    height: 600px;
    font-size: 16px;
    
    
}

footer > .footer-content{
    position: absolute;             
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 


.footer-content h3, p{
    color: #7289da;
}

/* blocco sx */
.sezione-footer-sx{
    background-color: blueviolet;
    width: 25%;
    height: 80%;
    font-size: 30px;
    float: left;
}



/* INIZIO BLOCCO DX */
.sezione-footer-dx{
    background-color: tomato;
    width: 75%;
    height: 80%;
    float: right;        
}


/* proprietà liste */
.sezione-footer-dx li{
    list-style-type: none;
    font-size: 16px;
    line-height: 35px;
}

.sezione-footer-dx a{
    color: #fdfdfd;
}

.sezione-footer-dx a {
    text-decoration: none;     
} 

.sezione-footer-dx a:hover { 
    text-decoration: underline; 
    color: #fdfdfd;
} 

.lista-prodotto{
    background-color: burlywood;
    width: 25%;
    height: 100%;
    float: left;   
    padding: 15px 15px;    
}

.lista-compagnia{
    background-color: rgb(218, 144, 47);
    width: 25%;
    height: 100%;
    float: left;
    padding: 15px 15px;
}

.lista-risorse{
    background-color: rgb(135, 212, 222);
    width: 25%;
    height: 100%;
    float: left;
    padding: 15px 15px;
}

.lista-norme{
    background-color: rgb(205, 135, 222);
    width: 25%;
    height: 100%;
    float: left;
    padding: 15px 15px;
}
/* FINE BLOCCO DX */


/* sezione da sotto la linea */
.footer-under-line hr{
    color: #7289da;;
}

.logo-footer{
    float: left;
    margin-top: 35px;
}



.butn-registrati{    
    float: right;    
    margin-top: 35px;
    color: white;
    background-color:#7289da;    
    width: 90px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    line-height: 50px;     
}
